#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: clip;
  text-align: center;
  
}

* {
  scroll-behavior: smooth;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadein-right {
  from {
    transform: translateX(-4em);
  }
  to {
    transform: translateX(0);
  }
}

.fadein-right {
  animation: fadein-right 1s;
} 

@keyframes fadein-left {
  from {
    transform: translateX(4em);
  }
  to {
    transform: translateX(0);
  }
}

.fadein-left {
  animation: fadein-left 1s;
}

@keyframes fadein-up {
  from {
    transform: translateY(2em);
  }
  to {
    transform: translateY(0);
  }
}

.fadein-up {
  animation: fadein-up 1s;
}

@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5em);
  }
}

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}

.flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.project-image {
  overflow: hidden;
}

.project-image img {
  transform: translateY(0);
  transition: transform 5s ease-out;
}

.project-image:hover .scrollable {
  object-fit: cover;
  transform: translateY(calc(-100% + 240px));  
}